<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập/Đăng kí</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="assets/css/style-login.css">
</head>

<body>

    {{{body}}}

</body>
</html>