<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập/Đăng kí</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="css/style-login.css">
    
    {{{_sections.css}}}
</head>

<body>
    
    {{{body}}}
    {{{_sections.js}}}
</body>
</html>