<section id="entity_section" class="entity_section">
    <div class="container">
    <div class="row">
    <div class="col-md-8">
    <div class="entity_wrapper">
        <div class="entity_title">
            <h1><a href="#">Concept 'iPhone Z' màn hình gập 2 bản lề.</a></h1>
        </div>
        <!-- entity_title -->
    
        <div class="entity_meta"><a href="#" target="_self">10Aug- 2015</a>, by: <a href="#" target="_self">Eric joan</a>
        </div>
        <!-- entity_meta -->
    
        <div class="entity_rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-full"></i>
        </div>
        <!-- entity_rating -->
    
        <div class="entity_social">
            <a href="#" class="icons-sm sh-ic">
                <i class="fa fa-share-alt"></i>
                <b>424</b> <span class="share_ic">Shares</span>
            </a>
            <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
            <!--Twitter-->
            <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
            <!--Google +-->
            <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
            <!--Linkedin-->
            <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
            <!--Pinterest-->
            <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
        </div>
        <!-- entity_social -->
    
        <div class="entity_thumb">
            <img class="img-responsive" src="/img/iphoneZ.jpg" alt="feature-top">
        </div>
        <!-- entity_thumb -->
    
        <div class="entity_content">
            <p>
                Hãng thiết kế Nga Caviar vừa giới thiệu concept chiếc iPhone với màn hình gập 2 bản lề. Đây có thể là ý tưởng tham khảo tốt cho Apple.
            </p>
    
            <p>
                Caviar, công ty thiết kế của Nga, mới đây đã ra mắt concept của chiếc iPhone với màn hình gập. Và như dự đoán, mẫu concept này hoàn toàn đi xa hơn những gì chúng ta có thể tưởng tượng.
            </p>
    
            <p> Trước đó, Caviar từng giới thiệu chiếc iPhone với Apple Watch đính kèm ở mặt lưng cùng nhiều sản phẩm mạ vàng, đính kim cương cao cấp khác.
            </p>
    
            <p>
                Dường như chưa thoả mãn với màn hình chỉ có thể gấp một lần, chiếc “iPhone Z” của Caviar được trang bị tấm nền hiển thị với hai bản lề, gấp lại hình chữ Z. Kết quả là một chiếc iPhone có kích cỡ bằng iPad khi mở ra, cho người dùng trải nghiệm tuyệt vời nhất có thể.
            </p>
    
            <p>Với thiết kế đặc biệt của mình, chiếc iPhone này còn có thể hoạt động với "chế độ laptop", có đầy đủ bàn phím và màn hình.
            </p>
    
            <p>Cụm camera TrueDepth trong bản concept này được làm nhỏ lại và chỉ chiếm một góc nhỏ tấm nền hiển thị.
            </p>
    
            <p>Các fan Apple đang mong chờ sự thay đổi lớn trong thiết kế đến từ ông lớn công nghệ Mỹ với mẫu iPhone mới nhất. Tuy nhiên, hiện chưa có thông tin nào về việc Apple sẽ ra mắt điện thoại màn hình gập trong năm nay, hay thậm chí năm sau.
            </p>
    
            <p>Chế độ chụp ảnh selfie của chiếc iPhone Z. Cụm camera chính cũng sẽ trở thành camera selfie.
            </p>
    
            <p>Người đại diện Caviar cho biết: “Chúng tôi, thương hiệu đã làm việc với nhóm kỹ thuật của Apple và người sử dụng sản phẩm trong suốt 7 năm, có cho mình ý tưởng riêng. Và công ty quyết định thể hiện chúng dưới những concept như trên”.
            </p>
    
            <p>iPhone Z của Caviar được trang bị cổng Type-C như iPad Pro. Hãng thậm chí còn ước tính chiếc điện thoại sẽ có giá không dưới 2.800 euro. Mức giá này cao hơn cả một chiếc MacBook Pro.
            </p>
    
            <p>Caviar hy vọng sẽ truyền cảm hứng cho Apple với thiết kế của mình. Apple đang thực sự bị tụt lại phía sau trong cuộc chạy đua màn hình gập với các hãng điện thoại Châu Á.
            </p>
        </div>
        <!-- entity_content -->
    
        <div class="entity_footer">
            <div class="entity_tag">
                <span class="blank"><a href="#">Tech</a></span>
                <span class="blank"><a href="#">Transport</a></span>
                <span class="blank"><a href="#">Mobile</a></span>
                <span class="blank"><a href="#">Gadgets</a></span>
            </div>
            <!-- entity_tag -->
    
            <div class="entity_social">
                <span><i class="fa fa-share-alt"></i>424 <a href="#">Shares</a> </span>
                <span><i class="fa fa-comments-o"></i>4 <a href="#">Comments</a> </span>
            </div>
            <!-- entity_social -->
    
        </div>
        <!-- entity_footer -->
    
    </div>
    <!-- entity_wrapper -->
    
    <div class="related_news">
        <div class="entity_inner__title header_purple">
            <h2><a href="#">Related News</a></h2>
        </div>
        <!-- entity_title -->
    
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="/img/cat-mobi-sm1.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="category.html" target="_self">Mobile</a></span>
    
                        <h3 class="media-heading"><a href="single.html" target="_self">Apple ra mắt đồng hồ đeo tay lấy ảnh làm trung tâm cho Android                    </a></h3>
                        <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Shares</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="/img/cat-mobi-sm3.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="category.html" target="_self">Mobile</a></span>
    
                        <h3 class="media-heading"><a href="single.html" target="_self">Bộ sạc di động hay cáp dữ liệu</a></h3>
                        <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Shares</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="/img/cat-mobi-sm2.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="category.html" target="_self">Mobile</a></span>
    
                        <h3 class="media-heading"><a href="single.html" target="_self">Iphone 6 ra mắt điện thoại màu trắng và xám</a></h3>
                        <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Shares</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="/img/cat-mobi-sm4.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="category.html" target="_self">Mobile</a></span>
                        <a href="single.html" target="_self"><h3 class="media-heading">Thiết bị cầm tay mỏng hoàn toàn mới</h3></a>
                        <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Shares</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related news -->
    
    <div class="readers_comment">
        <div class="entity_inner__title header_purple">
            <h2>Readers Comment</h2>
        </div>
        <!-- entity_title -->
    
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img alt="64x64" class="media-object" data-src="/img/reader_img1.jpg"
                         src="/img/reader_img1.jpg" data-holder-rendered="true">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="#">Sr. Ryan</a></h2>
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    
                <div class="entity_vote">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <a href="#"><span class="reply_ic">Reply </span></a>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img alt="64x64" class="media-object" data-src="/img/reader_img2.jpg"
                                 src="/img/reader_img2.jpg" data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><a href="#">Admin</a></h2>
                        But who has any right to find fault with a man who chooses to enjoy a pleasure
                        that has no annoying consequences, or one who avoids a pain that produces no
                        resultant pleasure?
    
                        <div class="entity_vote">
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                            <a href="#"><span class="reply_ic">Reply </span></a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- media end -->
    
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img alt="64x64" class="media-object" data-src="/img/reader_img3.jpg"
                         src="/img/reader_img3.jpg" data-holder-rendered="true">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="#">S. Joshep</a></h2>
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    
                <div class="entity_vote">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <a href="#"><span class="reply_ic">Reply </span></a>
                </div>
            </div>
        </div>
        <!-- media end -->
    </div>
    <!--Readers Comment-->
    
    <div class="entity_comments">
        <div class="entity_inner__title header_black">
            <h2>Add a Comment</h2>
        </div>
        <!--Entity Title -->
    
        <div class="entity_comment_from">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group comment">
                    <textarea class="form-control" id="inputComment" placeholder="Comment"></textarea>
                </div>
    
                <button type="submit" class="btn btn-submit red">Submit</button>
            </form>
        </div>
        <!--Entity Comments From -->
    
    </div>
    <!--Entity Comments -->
    
    </div>
    <!--Left Section-->
    
    <div class="col-md-4">
    <div class="widget">
        <div class="widget_title widget_black">
            <h2><a href="#">News Post</a></h2>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right1.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Canon ra mắt máy ảnh chụp màn hình siêu trung tâm 00214 Model</a>
                </h3> <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                <div class="widget_article_social">
                    <span>
                        <a href="single.html" target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                    </span> 
                    <span>
                        <a href="single.html" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                    </span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right2.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Samsung galaxy note là siêu di động của tất cả các sản phẩm.</a>
                </h3>
                <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                <div class="widget_article_social">
                    <span>
                        <a href="single.html" target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                    </span> 
                    <span>
                        <a href="single.html" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                    </span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right3.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Apple ra mắt đồng hồ đeo tay lấy ảnh làm trung tâm cho Android</a>
                </h3>
                <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                <div class="widget_article_social">
                    <span>
                        <a href="single.html" target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                    </span> 
                    <span>
                        <a href="single.html" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                    </span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right4.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Máy ảnh chụp màn hình kép tốc độ cao Kodak sắp ra mắt</a>
                </h3>
                <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>
    
                <div class="widget_article_social">
                    <span>
                        <a href="single.html" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                    </span> 
                    <span>
                        <a href="single.html" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                    </span>
                </div>
            </div>
        </div>
        <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
    </div>
    <!-- Popular News -->
    
    <div class="widget reviews m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Top Category</a></h2>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right1.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">DSLR là máy ảnh cũ nhất tại thời điểm này đọc thêm về các sản phẩm mới</a>
                </h3> 
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right2.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body"><h3 class="media-heading"><a href="single.html" target="_self">Samsung là điện thoại di động tốt nhất trên thị trường Android.</a></h3> <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span></div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right3.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Apple ra mắt đồng hồ đeo tay lấy ảnh làm trung tâm cho Android</a>
                </h3> 
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span></div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right4.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Máy ảnh Yasaki ra mắt máy ảnh chụp tốc độ cao chung mới.</a>
                </h3> 
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                </span></div>
        </div>
        <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
    </div>
    <!-- Reviews News -->
    
    
    
    <div class="widget m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Most Commented</a></h2>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right1.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Máy ảnh Yasaki ra mắt máy ảnh chụp tốc độ cao chung mới.</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right2.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Samsung là điện thoại di động tốt nhất trên thị trường Android.</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right3.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">Apple ra mắt đồng hồ đeo tay lấy ảnh làm trung tâm cho Android</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="/img/pop_right4.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="single.html" target="_self">DSLR là máy ảnh cũ nhất tại thời điểm này đọc thêm về các sản phẩm mới</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&nbsp;&raquo; </a></p>
    </div>
    <!-- Most Commented News -->
    
    </div>
    <!--Right Section-->
    
    </div>
    <!-- row -->
    
    </div>
    <!-- container -->
    
    </section>