<section id="feature_news_section" class="feature_news_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img">
                        <img style="height: 500px" class="img-responsive top_static_article_img" src="img/feature-static1.jpg"
                             alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg red"><a href="cotegories">TIN NÓNG</a></div>
                        <div class="feature_article_title">
                            <h1><a href="detail" target="_self">Công nghệ xe tiết kiệm nhiên liệu - Chevrolet mang lại</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Minh Trí</a> <a href="#"
                            target="_self">1/4/2019</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            Giải quyết các vấn đề về nhiên liệu, ô nhiễm môi trường.
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">424</a>Chia sẻ</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">30</a>Bình luận</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_article_wrapper -->

            </div>
            <!-- col-md-7 -->

            <div class="col-md-5">
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" style="width:500px; height: 235px" src="img/feature-static1.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg purple"><a href="cotegories">NỔI BẬT</a></div>
                        <div class="feature_article_title">
                            <h1><a href="detail" target="_self">Bảo mật trên Android</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Minh Trí</a> <a href="#"
                            target="_self">1/4/2019</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            Trong một động thái để giải quyết mối quan tâm gắn kết về bảo mật trên Android ...                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">420</a>Chia sẻ</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">10</a>Bình luận</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

            <div class="col-md-5">
                <div class="feature_static_last_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" style="width:500px; height: 235px" src="img/feature-static2.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg blue"><a href="cotegories">NỔI BẬT</a></div>

                        <div class="feature_article_title">
                            <h1><a href="detail" target="_self">IOS 12.2.1</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Minh Trí</a>,<a href="#"
                            target="_self">1/4/2019</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            Cập nhật phiên bản IOS 12.2.1 đem lại nhiều lợi ích cho người dùng
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">321</a>Chia sẻ</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">42</a>Bình luận</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

        </div>
        <!-- Row -->

    </div>
    <!-- container -->

</section>
<!-- Feature News Section -->





<section id="category_section" class="category_section">
<div class="container">
<div class="row">
<div class="col-md-8">

<div class="category_section mobile">
    <div class="article_title header_purple">
        <h2><a href="categories" target="_self">Premium</a></h2>
    </div>
    <!----article_title------>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="top_article_img">
                    <a href="detail" target="_self"><img class="img-responsive"
                                                               src="img/cat-mobi-left-1.jpg" alt="feature-top">
                    </a>
                </div>
                <!----top_article_img------>
            </div>
            <div class="col-md-6">
                <span class="tag gold">Premium</span>
                <span class="tag purple">Mobile</span>

                <div class="category_article_title">
                    <h2><a href="detail" target="_self"> Concept 'iPhone Z' màn hình gập 2 bản lề.
                    </a></h2>
                </div>
                <!----category_article_title------>
                <div class="category_article_date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----category_article_date------>
                <div class="category_article_content">
                    Hãng thiết kế Nga Caviar vừa giới thiệu concept chiếc iPhone với màn hình gập 2 bản lề. Đây có thể là ý tưởng tham khảo tốt cho Apple.
                </div>
                <!----category_article_content------>
                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Chia sẻ</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                </div>
                <!----media_social------>
            </div>
        </div>
    </div>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="img/cat-mobi-sm1.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag gold">Premium</span>
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="detail" target="_self">Cuối cùng chế độ chụp đêm cũng đã xuất hiện trên Galaxy S10
                        </a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>380</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>40</a> Bình luận</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="img/cat-mobi-sm3.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag gold">Premium</span>
                        <span class="tag black">AI</span>

                        <h3 class="media-heading"><a href="detail" target="_self">Mổ bụng Galaxy Fold - bản lề phức tạp, màn hình dẻo như cao su                           
                        </a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>280</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="img/cat-mobi-sm2.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag gold">Premium</span>
                        <span class="tag orange">Camera</span>

                        <h3 class="media-heading"><a href="detail" target="_self">iPhone 2019 mang tin vui cho người thích selfie</a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>250</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>12</a> Bình luận</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="img/cat-mobi-sm4.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag gold">Premium</span>
                        <span class="tag pink">Laptop</span>

                        <h3 class="media-heading"><a href="detail" target="_self">Galaxy A50 - làn gió mới của nhóm di động tầm trung ở Việt Nam</a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="divider"><a href="#">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Premium News Section -->

<div class="category_section mobile">
    <div class="article_title header_purple">
        <h2><a href="cotegories" target="_self">Mobile</a></h2>
    </div>
    <!----article_title------>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="top_article_img">
                    <a href="detail" target="_self"><img style="width: 400px; height: 280px" class="img-responsive" src="img/feature-top.jpg" alt="feature-top">
                    </a>
                </div>
                <!----top_article_img------>
            </div>
            <div class="col-md-6">
                <span class="tag purple">Mobile</span>

                <div class="category_article_title">
                    <h2><a href="detail" target="_self"> Concept 'iPhone Z' màn hình gập 2 bản lề.
                    </a></h2>
                </div>
                <!----category_article_title------>
                <div class="category_article_date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----category_article_date------>
                <div class="category_article_content">
                    Hãng thiết kế Nga Caviar vừa giới thiệu concept chiếc iPhone với màn hình gập 2 bản lề. Đây có thể là ý tưởng tham khảo tốt cho Apple.
                </div>
                <!----category_article_content------>
                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Chia sẻ</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                </div>
                <!----media_social------>
            </div>
        </div>
    </div>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm1.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="detail" target="_self">Cuối cùng chế độ chụp đêm cũng đã xuất hiện trên Galaxy S10
                        </a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>380</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>40</a> Bình luận</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm3.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="detail" target="_self">Mổ bụng Galaxy Fold - bản lề phức tạp, màn hình dẻo như cao su                           
                        </a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>280</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm2.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="detail" target="_self">iPhone 2019 mang tin vui cho người thích selfie</a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>250</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>12</a> Bình luận</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm4.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="detail" target="_self">Galaxy A50 - làn gió mới của nhóm di động tầm trung ở Việt Nam</a></h3>
                        <span class="media-date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Chia sẻ</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="divider"><a href="#">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Mobile News Section -->

<div class="category_section tablet">
    <div class="article_title header_pink">
        <h2><a href="cotegories" target="_self">Laptop</a></h2>
    </div>
    <!-- Mobile News Section -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="detail" target="_self"><img style="width: 410px; height: 270px" class="img-responsive" src="img/tab_top1.jpg"
                                                                   alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag pink">Laptop</span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">Một chiếc laptop màn hình gập như quyển sách sẽ ra mắt ngay năm sau?
                        </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">1/4/2019</a>, Người đăng:<a href="#">Minh Trí</a></div>
                    <!----article_date------>
                    <!-- article_date -->

                    <div class="category_article_content">
                        Một thiết bị mới của Microsoft đang được rất nhiều cư dân mạng đồn thổi vì thiết kế độc đáo của nó.
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Chia sẻ</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="detail" target="_self">
                            <img style="width: 410px; height: 270px" class="img-responsive" src="img/tab_top2.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag pink">Laptop</span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">Cuộc chơi "tablet lai" của Microsoft, Apple và Google: Tưởng dễ, nhưng toàn kẻ thua cuộc </a>
                        </h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                    <!----article_date------>
                    <!-- article_date -->

                    <div class="category_article_content">
                            Thoạt nhìn, đem tablet biến hình thành laptop là một ý tưởng thú vị và dễ thực hiện.
                             Ý tưởng đó cũng sẽ tạo ra loại thiết bị trong mơ cho người tiêu dùng.
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Chia sẻ</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <p class="divider"><a href="#">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Tablet News Section -->

<div class="category_section gadget">
    <div class="article_title header_black">
        <h2><a href="cotegories" target="_self">AI</a></h2>
    </div>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="detail" target="_self">
                            <img style="width: 410px; height: 270px" class="img-responsive" src="img/gad_top1.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag black">AI</span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">AI đã mạnh mẽ đến mức có thể dự đoán thời điểm chết của con người</a>
                        </h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                    <!----article_date------>
                    <div class="category_article_content">
                        Các nhà nghiên cứu về y dược vừa mở khoá thêm một tính năng tiềm ẩn của trí tuệ nhân tạo (AI): tiên đoán thời điểm chết của con người.
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Chia sẻ</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

                <div class="category_article_list">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm1.jpg"
                                             alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="detail" target="_self">Sợ AI, nhóm người này phải tạo ra một AI khác để kiểm soát</a></h3>
                            <span class="media-date"><a href="#">1/4/2019</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                            <div class="media_social">
                                <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Chia sẻ</span>
                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm3.jpg"
                                             alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="detail" target="_self">Trí tuệ nhân tạo có thể quét sạch loài người trở về thời đồ đá</a></h3>
                            <span class="media-date"><a href="#">1/4/2019</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                            <div class="media_social">
                                <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Chia sẻ</span>
                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- category_article_list -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <img style="width: 410px; height: 400px" class="img-responsive" src="img/gad_top2.jpg" alt="feature-top">
                    </div>
                    <!-- top_article_img -->

                    <span class="tag black">AI</span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">AI tự xây dựng hồ sơ học sinh, kiểm tra bài tập về nhà</a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                    <!-- article_date -->

                    <div class="category_article_content">
                        Yuanfudao - công ty khởi nghiệp tại Bắc Kinh (Trung Quốc) đã phát triển một ứng dụng 
                        học toán sử dụng trí tuệ nhân tạo để kiểm tra kết quả bài tập về nhà của học sinh.
                    </div>
                    <!-- category_article_content -->

                    <div class="article_social">
                        <span><i class="fa fa-share-alt"></i><a href="#">424</a>Chia sẻ</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>Bình luận</span>
                    </div>
                    <!-- article_social -->

                </div>
                <!-- category_article_body -->
            </div>
        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <p class="divider"><a href="#">Xêm thêm&nbsp;&raquo;</a></p>
</div>
<!-- Gadget News Section -->

<div class="category_section camera">
    <div class="article_title header_orange">
        <h2><a href="cotegories" target="_self">Camera</a></h2>
    </div>
    <!-- article_title -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-5">
                <div class="top_article_img">
                    <a href="detail" target="_self">
                        <img style="height: 200px" class="img-responsive" src="img/cam_left1.jpg" alt="feature-top">
                    </a>
                </div>
                <!-- top_article_img -->

            </div>
            <div class="col-md-7">
                <span class="tag orange">Camera</span>

                <div class="category_article_title">
                    <h2><a href="detail" target="_self">
                        Sony phát triển thành công cảm biến Full-frame 100MP, quay phim 6K, rất có tiềm năng áp dụng thực tế
                    </a></h2>
                </div>
                <!-- category_article_title -->

                <div class="article_date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----article_date------>
                <!-- category_article_wrapper -->

                <div class="category_article_content">
                    Câu hỏi ta phải đặt ra đó là: liệu có ai tận dụng được hết độ phân giải cao như vậy?
                </div>
                <!-- category_article_content -->

                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Chia sẻ</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                </div>
                <!-- media_social -->

            </div>
            <!-- col-md-7 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-5">
                <div class="top_article_img">
                    <a href="detail" target="_self">
                        <img style="height: 200px" class="img-responsive" src="img/cam_left2.jpg" alt="feature-top">
                    </a>
                </div>
                <!-- top_article_img -->

            </div>
            <div class="col-md-7">
                <span class="tag orange">Camera</span>

                <div class="category_article_title">
                    <h2><a href="detail" target="_self">Máy ảnh không gương lật của Canon không dành cho người thuận mắt trái </a></h2>
                </div>
                <!-- category_article_title -->

                <div class="article_date"><a href="#">11/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----article_date------>
                <!-- article_date -->

                <div class="category_article_content">
                    Hãng có thể mất tới 1/3 số khách hàng vì lỗi trong thiết kế này.
                </div>
                <!-- category_article_content -->

                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Chia sẻ</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                </div>
                <!-- media_social -->

            </div>
        </div>
    </div>
    <!-- category_article_wrapper -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-5">
                <div class="top_article_img">
                    <a href="detail" target="_self">
                        <img style="height: 200px" class="img-responsive" src="img/cam_left3.jpg" alt="feature-top">
                    </a>
                </div>
                <!-- media_social -->

            </div>
            <div class="col-md-7">
                <span class="tag orange"><a href="detail" target="_self">Camera</a></span>

                <div class="category_article_title">
                    <h2><a href="detail" target="_self">Leica ra mắt máy ảnh cao cấp Q2: cảm biến 47MP, ống kính 28mm f/1.7, quay phim 4K</a></h2>
                </div>
                <!-- category_article_title -->

                <div class="article_date"><a href="#">1/4/2019</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----article_date------>
                <!-- article_date -->

                <div class="category_article_content">
                    Một sản phẩm lột xác hoàn toàn so với dòng Leica Q đã cũ của hãng.
                </div>
                <!-- category_article_content -->

                <div class="media_social">
                                    <span>
                                        <a href="#">
                                            <i class="fa fa-share-alt"></i>424
                                        </a> Chia sẻ
                                    </span>
                                    <span>
                                        <a href="#">
                                            <i class="fa fa-comments-o"></i>4
                                        </a> Bình luận
                                    </span>
                </div>
                <!-- media_social -->

            </div>
            <!-- col-md-7 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <p class="divider"><a href="#">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Camera News Section -->

<div class="category_section design">
    <div class="article_title header_blue">
        <h2><a href="cotegories" target="_self">Design</a></h2>
    </div>
    <!-- row -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="detail" target="_self">
                            <img style="height: 275px" class="img-responsive" src="img/design_top1.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">Marketing Tranportation Fast and </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a></div>
                    <!----category_article_date------>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        Collaboratively administrate empowered markets via plug-and-play networks.
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="detail" target="_self">
                            <img style="height: 275px" class="img-responsive" src="img/design_top2.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">Theme Hippo launches Unship </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a></div>
                    <!----category_article_date------>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        Collaboratively administrate empowered markets via plug-and-play networks.
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="detail" target="_self">
                            <img style="height: 275px" class="img-responsive" src="img/design_top3.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">Huge Ultimate website builder </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a></div>
                    <!----category_article_date------>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        Collaboratively administrate empowered markets via plug-and-play networks.
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <img style="height: 275px" class="img-responsive" src="img/design_top4.jpg" alt="feature-top">
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="detail" target="_self">Just another theme xdesign</a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a></div>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        Collaboratively administrate empowered markets via plug-and-play networks.
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- top_article_img -->

        </div>
        <!-- top_article_img -->

    </div>
    <!-- top_article_img -->

    <p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
</div>
<!-- Design News Section -->
</div>
<!-- Left Section -->

<div class="col-md-4">
<div class="widget">
    <div class="widget_title widget_black">
        <h2><a href="#">New posts</a></h2>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right1.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag orange">Camera</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Leica ra mắt máy ảnh cao cấp Q2: cảm biến 47MP, ống kính 28mm f/1.7, quay phim 4K</a>
            </h3> <span class="media-date"><a href="#">1/4/2019</a>,  Người đăng: <a href="#">Minh Trí</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"> <i class="fa fa-share-alt"></i>424</a> Chia sẻ
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Bình luận
                </span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right2.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag black">AI</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Samsung galaxy note are the supper mobile of all products.</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right3.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag purple">Mobile</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Apple launches photo-centric wrist watch for Android</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            
            <span class="tag orange">Camera</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag purple">Mobile</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Laptop</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag orange">Camera</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Laptop</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag purple">Mobile</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Laptop</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <p class="widget_divider"><a href="#" target="_self">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Popular News -->


<!-- Advertisement -->

<!-- Advertisement -->


<div class="widget reviews m30">
    <div class="widget_title widget_black">
        <h2><a href="#">Top category</a></h2>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Moblie</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Laptop</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">AI</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Camera</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Design</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Games</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Cars</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Smart Home</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">5G</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <p class="widget_divider"><a href="#" target="_self">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Reviews News -->

<!-- Advertisement -->

<!-- Advertisement -->

<div class="widget m30">
    <div class="widget_title widget_black">
        <h2><a href="#">Most Commented</a></h2>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right1.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">Yasaki camera launches new generic hi-speed shutter camera.</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right2.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">Samsung is the best mobile in the android market.</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right3.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">Apple launches photo-centric wrist watch for Android</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">DSLR is the most old camera at this time readmore about new
                    products</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&nbsp;&raquo; </a></p>
</div>
<!-- Most Commented News -->

</div>
<!-- Right Section -->

</div>
<!-- Row -->

</div>
<!-- Container -->

</section>
<!-- Category News Section -->
