<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Profile</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Profile</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<!-- Viết tiếp nội dung ở đây -->
			<section id="actions" class="py-4 mb-4 bg-faded">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-3">
		                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#passwordModal">
		                        <i class="fa fa-lock"></i> Đổi mật khẩu
		                    </a>
		                </div>
		                <div class="col-md-3">
		                    <a href="#" class="btn btn-danger btn-block">
		                        <i class="fa fa-trash"></i> Xóa tài khoản
		                    </a>
		                </div>
		            </div>
		        </div>
		    </section>

		    <!-- POST EDIT -->
		    <section id="edit-post">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-12">
		                    <div class="card-header">
		                        <h4>&nbsp;</h4>
		                    </div>
		                    <div class="card-block">
		                        <form>
		                            <div class="form-group">
		                                <label for="name" class="form-control-label">Họ và tên</label>
		                                <input type="text" id="name" class="form-control" value="Trần Nguyễn Ngọc Trường">
		                            </div>
		                            <div class="form-group">
		                                <label for="email" class="form-control-label">Bút danh</label>
		                                <input type="email" id="email" class="form-control" value="t2ntruong811">
		                            </div>
		                            <div class="form-group">
		                                <label for="email" class="form-control-label">Email</label>
		                                <input type="email" id="email" class="form-control" value="t2ntruong811@gmail.com">
		                            </div>
		                            <div class="form-group">
		                                <label for="email" class="form-control-label">Ngày sinh</label>
		                                <input type="email" id="email" class="form-control" value="08/11/1998">
		                            </div>
		                        </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>

		    <section id="actions" class="py-4 mb-4 bg-faded">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-3" style="float: right;">
		                    <a href="#" class="btn btn-success btn-block">
		                        <i class="fa fa-edit"></i> Cập nhật
		                    </a>
		                </div>
		            </div>
		        </div>
		    </section>

		    <!-- PROFILE MODAL -->
		    <div class="modal fade" id="passwordModal">
		        <div class="modal-dialog modal-lg">
		            <div class="modal-content">
		                <div class="modal-header bg-warning">
		                    <h5 class="modal-title text-white" id="passwordModalLabel">Đổi mật khẩu</h5>
		                    <button class="close" data-dismiss="modal">
		                        <span>&times;</span>
		                    </button>
		                </div>
		                <div class="modal-body">
		                    <form>
		                        <div class="form-group">
		                            <label for="password" class="form-control-label">Mật khẩu hiện tại</label>
		                            <input type="password" id="password" class="form-control">
		                        </div>
		                        <div class="form-group">
		                            <label for="password" class="form-control-label">Mật khẩu mới</label>
		                            <input type="password" id="password_new" class="form-control">
		                        </div>
		                        <div class="form-group">
		                            <label for="confirm_password" class="form-control-label">Xác nhận mật khẩu</label>
		                            <input type="password" id="confirm_password" class="form-control">
		                        </div>
		                    </form>
		                </div>
		                <div class="modal-footer">
		                    <button class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
		                    <button class="btn btn-outline-warning" data-dismiss="modal">Xác nhận</button>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

	</div>

    <script>
		CKEDITOR.replace('editor1');
	</script>