<div id = "contID" class="cont">
        <div style = "margin-top: 60px;">
            <h2>Lấy lại mật khẩu,</h2>
            <label>
                <span>Mã OTP</span>
                <input type="email" />
            </label>
            <label>
                <span>Mật khẩu</span>
                <input type="password" />
            </label>
            <label>
                <span>Xác nhận mật khẩu</span>
                <input type="password" />
            </label>
            <button type="button" class="submit"><a href="/sign-in-up">Xác nhận</a></button>
        </div>
    </div>