<div id = "contID" class="cont">
        <div style = "margin-top: 150px;">
            <h2>Nhận mã OTP,</h2>
            <label>
                <span>Email</span>
                <input type="email" />
            </label>
            <button type="button" class="submit"><a href="/forgotPassword">Nhận mã</a></button>
        </div>
    </div>